version: '3'

services:
  cfc-irrigation-system:
    build: 
      dockerfile: ./Dockerfile
      context: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"